@import '../../utils/colors.scss';

.productPage {
    margin-top: 60px;
    display: flex;
    

    &__imgs{
        display: flex;
        overflow: hidden;
    }

    &__img {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }

    &__img img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit:cover;   
    }

    &__img img:hover{
        transform: scale(1.1);
    }

    &__img-main{
        margin: 0 100px 0 50px;
        width: 600px;
        height: 500px;
        position: relative;
        display:flex;
        align-items:center;
        justify-content: center;
    }

    &__img-main img{
        width: 100%;
        position:absolute;
        top: 0;  
       
    }



    &__info {
        width: 300px;
        height: 595px;
       
    }

    &__title{
        font-size: 18px;
        font-family: $font-family-description;
        font-weight: 700;
    }

    &__brandName {
        font-weight: 600;
        font-size: 30px;

        &-title{
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 40px;
        }

    }

    &__attributes {
        &-items{
            display: flex;
            flex-wrap: wrap;
        }

        &-item{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            width: 67px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            margin: 8px 12px 8px 0;
            
        }
    }


    &__price{
       

        &-count{
            font-size: 24px;
            font-weight: 700;
            margin: 18px 0 24px;
        }
    }

    &__btn{
        width: 100%;
        height: 48px;
        text-transform: uppercase;
        color: $background-color;
        background-color: $font-color-hover;
        border: none;
        margin-bottom: 40px;
    }
   

    &__description {
        font-weight: 400;
        font-family: $font-family-description;
        font-size: 16px;
        line-height: 159.96%;
    }
   
}

.active-attribute{
    background-color: black;
    color: $background-color;
}

.active-box {
    border: 1px solid $font-color-hover;
    margin: 6px 8px 8px 0;
    padding: 1px;
    width: 69px;
    height: 49px;
   
}
.active-box .productPage__attributes-item{
    border: none;
    margin: 0 ;
    // padding: 0;
    width: 100%;
    height: 100%;

}   
