.basketItem{
    width: 310px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 40px;


    &__info{
        width: 130px;
    }

    &__title{
        font-weight: 400;
        line-height: 160%;
        
    }

    &__price{
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__size-items{
        display: flex;
        margin-bottom: 8px;
        position: relative;
    }

    &__size-item {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid black;
        margin-right: 8px;
        
    }

    &__color-items{
        display: flex;
    }

    &__color-item{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-color: aqua;
    }
    &__color-item:hover{
        border: 1px solid green;
    }


    &__count {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }



    &__count-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 1px solid black;
    }



    &__img{
        width: 120px;
        height: 100%;
        background-color: aquamarine;
    }

}