@import '../../../utils/colors.scss';

.basketThingItem{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;

    
    &__brand{
        font-weight: 600;
        margin-bottom: 16px;
    }

    &__name {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__price{
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1rem;
    }

    &__sizes{
        display: flex;
        margin: 10px 0 16px 0;
        flex-wrap: wrap;

        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-right: 8px;
            width: 3rem;
            height: 2rem;
            border: 1px solid #1D1F22;
        }
    }

    &__colors{
        display: flex;
        
        &-item{
            width: 32px;
            height: 32px;
            background-color: #0F6450;
            margin: 12px  8px 0 0;
        }
    }

    &__countBox{
        display: flex;
    }

    &__counts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        margin-right: 24px;
        

        &-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 45px;
            border: 1px solid black;
        }
        &-count{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
    }

    &__info {
        width: 320px;
    }

    &__title{
        font-size: 18px;
        font-family: $font-family-description;
        font-weight: 700;
    }

    &__brandName {
        font-weight: 600;
        font-size: 30px;

        &-title{
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 40px;
        }

    }

    &___attributes {
        &-items{
            display: flex;
            flex-wrap: wrap;
        }
        &-item{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            width: 67px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            margin: 8px 12px 8px 0;
        }

        .active-box {
            width: 67px;
            height: 45px;
            
            padding: 1px;
            position: relative;
            bottom: -3px;
            z-index: 0;
        }

       

        .active-box span{
            margin: 0px 8px 0 0 ;
            width: 99%;
            height: 100%;
            border: none;
        }
    }

    &__img{
        width: 200px;
        height: 288px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        z-index: 0;
    }

    &__changers {
        position: absolute;
        bottom: 8px;
        right: 0;
        display: flex;
    }
    &__changer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.73);
        color: white;
        margin-right: 8px;
    }

    &__img img{
        width:100%;
        object-fit:cover;
    }
}

.busketBox__items .basketThingItem{
    display: flex;
    justify-content: space-between;

    &__info{
        width: 170px;
        height: auto;
    }

    &__name{
        font-size: 1em;
        margin-bottom: 10px;
    }

    &__price{
        margin-bottom: 10px;
    }

    &__sizes{
        display: flex;
        margin: 10px 0 16px 0;
        flex-wrap: wrap;

        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-right: 8px;
            width: 3rem;
            height: 2rem;
            border: 1px solid #1D1F22;
        }
    }

    &__colors{
        display: flex;
        
        &-item{
            width: 32px;
            height: 32px;
            background-color: #0F6450;
            margin: 12px  8px 0 0;
        }
    }

    &__countBox{
        display: flex;
        width: 140px;
    }


    &___attributes {
        .active-box {
            width: 35px;
            height: 35px;
            margin: 5px 5px 0 0;
            padding: 1px;  
        }
        &-item{
            font-size: 12px;
            width: 30px;
            height: 30px;
            margin: 8px 12px 0px 0;
            
        }
        .active-box span{
            margin: 1px 8px 0 0 ;
        }
    }
    &__counts{
        width: 45px;
        &-btn{
            height: 25px;
        } 
    }

    &__img{
        width: 200px;
        height: auto;
        
    }

    &__changers {
  
        bottom: 15px;

    }
}
