$font-color-main: rgba(29, 31, 34, 1);
$font-color-second: rgba(141, 143, 154, 1);
$font-color-hover: rgba(94, 206, 123, 1);

$color-overlay: rgba(57, 55, 72, 0.22);
$color-outStock: rgba(141, 143, 154, 1);
$background-color: #FFFFFF;


$font-family-main:  'Raleway', sans-serif;
$font-family-description: 'Roboto Condensed', sans-serif;
$font-family-size: 'Source Sans Pro', sans-serif;